Assets/Scenes/*.unity filter=lfs diff=lfs merge=lfs -text
Assets/Holotna/Mountain/_URP/*.unitypackage filter=lfs diff=lfs merge=lfs -text
Assets/Holotna/Mountain/_HDRP/*.unitypackage filter=lfs diff=lfs merge=lfs -text
